@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var hostName = System.Environment.MachineName;
    var os = System.Environment.OSVersion;
    var version = System.Environment.Version;
    var currentProcess = System.Diagnostics.Process.GetCurrentProcess();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        System Information:
        <p>
            <b>Host:</b> @hostName<br/>
            <b>OS:</b> @os.VersionString<br/>
            <b>Platform:</b> @os.Platform<br/>
            <b>Dotnet:</b>@version<br/>
            <b>ProcessId:</b>@currentProcess.Id
        </p>
    </p>
</div>
